/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 900;
    line-height: 1.9;
    padding: 0 30px;
    position: relative;
    color: black !important;
    overflow-x: hidden;
  }
  
  .heading {
    display: flex;
    justify-content: center;
  }
  
  .heading--highlight {
    font-weight: 1000;
    font-size: 40px;
    color: black;
    display: inline-block;
  }
  
  .highlight {
    position: relative;
  }
  
  .highlight::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: linear-gradient(to top left, #3995ffdd, #5823f5);
  }
  