h2 {
    text-align: center;
    margin: 10px 0 40px 0;
  }
  
  .container {
    border: 4px solid rgba(0, 30, 255, 0.593);;
    margin-top: 70px;
    padding: 30px 80px;
    border-radius: 25px;
  }
  
  .row {
    height: 16vh;
  }
  
  .row__content {
    margin-bottom: 30px;
    width: 20%;
  }
  
  input.ng-invalid.ng-touched {
    border: 2px solid red;
  }
  
  .spinner {
    text-align: center;
  }
  
  .btn {
    padding: 12.5px 35px;
    border-radius: 100px;
  }
  
    .btn[disabled] {
      cursor: not-allowed;
    }
  